{% extends "layout.html" %}
{%block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am Mohd Zaid Sarwar. I am basically from Sambhal(UP) but, live in Delhi. Coming to my educational qualifications currently, I am pursuing my BTech in the stream of Computer Science from Inderprastha Engineering College, Affiliated by AKTU, I did my intermediate in the Sarvodaya Bal Vidyalaya and I had done my SSC in are. Govt Boys Sec School, welcome from CBSE. My major area of education was completed in Delhi.</p>
                        <p>Coming to my experience, I have hands on experience Html5, Css3, Bootstrap and Flask. I working at Delta Study Circle as a Mathematics teacher from last three years. and have lots of interest in Data Science. I had also work on C++ programing. Currently I learn new skill which is Robotic Process Automation(RPA).</p>

                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
</html>
