{% extends "layout.html" %}
{%block body %} 
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Admin Panel</h1>
                        <span class="subheading">You can edit your post</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <h1>Basic Action</h1>
                    <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
                    <a href="/logout"><button class="btn btn-primary">Log out</button></a>
                    <h1>Add/Edit post</h1>

                    <form id="contactForm" name="sentMessage" action="/edit/{{post.sno}}" method="post" novalidate>
                        <div class="form-floating">
                            <input class="form-control" name="title" value="{{post.title}}" id="title" type="text" placeholder="Title" data-sb-validations="required"/>
                            <label for="name">Title</label>
                            
                        </div>
                        <div class="form-floating">
                            <input class="form-control" name="tagline" value="{{post.tagline}}" id="tagline" type="text" placeholder="Tagline" data-sb-validations="required"/>
                            <label for="tagline">Tag Line</label>
                            
                        </div>
                        <div class="form-floating">
                            <input class="form-control" name="slug" id="slug" value="{{post.slug}}" type="text" placeholder="Slug" data-sb-validations="required"/>
                            <label for="slug">slug</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" name="content" id="content" placeholder="Content" style="height: 12rem" data-sb-validations="required">{{post.content}}</textarea>
                            <label for="content">Content</label>    
                        </div>
                        <div class="form-floating">
                            <input class="form-control" name="img_file" id="img_file" placeholder="Image File" value="{{post.img_file}}">
                            <label for="image_file">Image File</label>    
                        </div>
                        <br/>
                        <div id="success">
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>    
                    </form>
                    

                </div>
            </div>
        </div>
    </main>                 
    
    

            
{% endblock %}
